## Handling missing data in dataset

In [1]:
import pandas as pd
from sklearn.preprocessing import Imputer

/home/mo/anaconda3/envs/ml35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/mo/anaconda3/envs/ml35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/mo/anaconda3/envs/ml35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/mo/anaconda3/envs/ml35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/mo/anaconda3/envs/ml35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/mo/anaconda3/envs/ml35/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.read_csv('weather.csv')
pd.set_option('precision', 0)
df

          day  temperature  windspeed  event
0    1/1/2017           32          6   Rain
1    1/2/2017          NaN          7  Sunny
2    1/3/2017           28        NaN   Snow
3    1/4/2017          NaN          7    NaN
4    1/5/2017           32          4   Rain
5    1/6/2017           31          2  Sunny
6    1/7/2017          NaN          4    NaN
7    1/8/2017          NaN        NaN   Rain
8    1/9/2017           32          5    NaN
9   1/10/2017           34          4    NaN
10  1/11/2017           40          2   Snow

In [3]:
imputer = Imputer(missing_values="NaN", strategy="mean", axis=0)
imputer

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [4]:
imp = imputer.fit(df.iloc[:, 1:3].values)

In [5]:
df.iloc[:, 1:3] = imp.transform(df.iloc[:, 1:3])

### Now I have the the all missing vaues based on the MEAN strategy
### I found that event column is still missing values, since Imputer works on only numbers but not Integers. So I am going to convert this Categorical variable into OneHotEncoder and then fill the missing values

In [6]:
df

          day  temperature  windspeed  event
0    1/1/2017           32          6   Rain
1    1/2/2017           33          7  Sunny
2    1/3/2017           28          5   Snow
3    1/4/2017           33          7    NaN
4    1/5/2017           32          4   Rain
5    1/6/2017           31          2  Sunny
6    1/7/2017           33          4    NaN
7    1/8/2017           33          5   Rain
8    1/9/2017           32          5    NaN
9   1/10/2017           34          4    NaN
10  1/11/2017           40          2   Snow